/* GTA5 General Style */

/* Typography */
@font-face {
    font-family: 'Pricedown', cursive;
    src: url('../fonts/PricedownBlack-MwRY.ttf'), format(truetype);
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #FFD700;
}

.gtaLikeFont {
    font-family: 'Pricedown', cursive;
}

.current_text {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-weight: 400;
}

._title {
    font-family: 'Bebas Neue', cursive;
}

.brands_logo {
    width: 25px;
    height: 25px;
}

/* Colors */
.gold {
    color: #ffd700;
}

.blue {
    color: #87cefa;
}

.orange {
    color: #ff8c00;
}

.green {
    color: #98fb98;
}

.darkGreen {
    color: #16441a;
}

.red {
    color: #ac3435;
}

.grey {
    color: #6c757d;
}

.veryDarkBlue {
    color: #1d2a33;
}