/* GTA5 General Style */

/* Typography */
@font-face {
    font-family: 'Pricedown', cursive;
    src: url('../fonts/PricedownBlack-MwRY.ttf'), format(truetype);
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #ffd700;
}

#trash_btn {
    color: #fff;
}

#trash_btn:hover {
    color: #ffd700 !important;
}

#edit_btn {
    color: #fff;
}

#edit_btn:hover {
    color: #ffd700 !important;
}

.DIC {
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
}

.gtaLikeFont {
    font-family: 'Pricedown', cursive;
}

.current_text {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-weight: 400;
}

._title {
    font-family: 'Bebas Neue', cursive;
}

.hand {
    font-family: 'Birthstone', cursive;
}


/* Images */
.small_logo {
    max-height: 20px;
    max-width: 40px;
}

.brands_logo {
    width: 25px;
    height: 25px;
}

.img_gallery {
    width: 30%;
    height: auto;
}


/* Colors */
.gold {
    color: #ffd700;
}

.blue {
    color: #87cefa;
}

.orange {
    color: #ff8c00;
}

.green {
    color: #98fb98;
}

.darkGreen {
    color: #16441a;
}

.red {
    color: #ac3435;
}

.grey {
    color: #6c757d;
}

.veryDarkBlue {
    color: #1d2a33;
}

/* Elements */
.icon {
    height: 2rem;
    width: auto;
    margin: 1rem;
}

.border-f {
    border: solid 1px #98fb98;
    border-radius: 1rem;
}

.border-m {
    border: solid 1px #87cefa;
    border-radius: 1rem;
}

.border-t {
    border: solid 1px #ff8c00;
    border-radius: 1rem;
}

.properties {
    max-height: 420px;
    width: auto;
}

.propertyCollapse {
    background-color: #1d2a33;
}

.dedication {
    font-family: 'Courier New', Courier, monospace;
}

#collapse_Wang {
    font-family: 'Press Start 2P', cursive !important;
    color: #fff !important;
    font-size: small;
}

.dashSideBar {
    height: 100vh;
}

footer {
    margin-top: 5rem !important;
}

.basic_caption {
    font-family: 'Courier New', Courier, monospace;
    font-size: smaller;
}

.fa-external-link-alt {
    font-size: xx-small;
    vertical-align: super;
    color: #6c757d;
}

.fa-copyright {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
}

#collapse_Wang>.card-body, #collapse_Stallman>.card-body, #collapse_Barlow>.card-body {
    background-color: #1d2a33;
}
